<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script
  src="https://code.jquery.com/jquery-1.12.4.min.js"
  integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
  crossorigin="anonymous"></script>
</head>
<body>
<h1>  {{varun}} </h1>
    <button class="pay">Pioneer</button>
    <button class="pay">Pioneer+</button>
    //new Api('rzp_live_suqyYzqhV4bJKq', 'cFcU5TsohrddHzdUhwTJnPpR');
//new Api('rzp_test_UCyDCqZLJS0p4b', 'zMlDpfM22D1ciamZ89snOzyy');
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script>
 $('.pay').click(() => {
console.log(1)
    $.ajax({
        type: "POST",
        url: "http://127.0.0.1:8000/payment-sub/",
        data: {'csrfmiddlewaretoken': "{{ csrf_token }}"},
        success: function(suc){
              var options = {
                "key": "rzp_test_UCyDCqZLJS0p4b",
                //"amount": suc.amount, // 2000 paise = INR 20
                "subscription_id": suc.sub.id,
                "name": "Startups Club",
                "description": "AV is Cool! I know it. PIoneer",
                "image": "https://startupsclub.com//image/logo_head.png",
                "handler": function (response){
                    $.ajax({
                      type: 'POST',
                      url: 'http://127.0.0.1:8000/paid-sub/',
                      data: {'csrfmiddlewaretoken': "{{ csrf_token }}",
                            'payment_id': response.razorpay_payment_id,
                            "subscription_id": suc.sub.id,
                          },
                      success: function(dp){
                        console.log(dp)
                      }


                    });
                },
                "prefill": {
                    "name": "Harshil Mathur",
                    "email": "harshil@razorpay.com"
                },
                "notes": {
                    "address": "Hello World"
                },
                "theme": {
                    "color": "#F37254"
                }
              };
              let rzp1 = new Razorpay(options);
               rzp1.open();
        console.log(suc)

        }
    })
        });
    </script>
</body>
</html>
